.navbar {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  padding: 1%;
  margin: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 10%); /* 100% Breite abzüglich des äußeren Rands */
  transition: margin-top 0.3s, width 0.3s; /* Fügen Sie eine Übergangseigenschaft für Margin und Breite hinzu */
  top: 0; /* Oben an der Seite positionieren */
  left: 0; /* Links an der Seite positionieren */
  right: 0; /* Rechts an der Seite positionieren */
  margin-left: auto; /* Rechten Margin automatisch berechnen */
  margin-right: auto; /* Linken Margin automatisch berechnen */
  z-index: 1000; 
}

.navbar-scrolled {
  margin: 0;
  width: 100%; /* Volle Breite der Navbar nach dem Scrollen */
} 

.navbar-brand {
  font-size: 24px;
  color: var(--primary-color);
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li:not(:last-child) {
  margin-right: 1px;
}

.navbar-menu li a {
  color: var(--accent-color);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 40px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-menu li a:hover {
  background-color: var(--background-color-start);
  color: var(--background-color-end);
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  animation: spin 15s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg); 
  }
}
