:root {
  --primary-color: #0e517d; /* Definieren Sie die primäre Farbe */
  --secondary-color: #c41313; /* Definieren Sie die sekundäre Farbe */
  --accent-color: #0e0b12;
  --text-color: #fad5f0; /* Definieren Sie die Textfarbe */
  --background-color-start: var(--secondary-color); /* Definieren Sie die Startfarbe des Hintergrundverlaufs */
  --background-color-end: var(--primary-color); /* Definieren Sie die Endfarbe des Hintergrundverlaufs */
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, var(--background-color-start), var(--background-color-end));
  background-size: cover; /* Hintergrundgröße anpassen */
  background-attachment: fixed; /* Hintergrund fixieren */
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  text-align: center;
  color: var(--text-color); /* Verwenden Sie die definierte Textfarbe */
  padding: 100px;
}

h1 {
  font-size: 3em;
}
